.error-page{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-page img{
    width:40rem;
    height:40rem;
    animation: logo-animation 10s ease infinite;
}

.error-page h1{
    font-size:5rem;
    color:white;
}

.error-page h2{
    color:white;
    font-size:2rem;
}

.error-page button{
    background:#e69c1b;
    color:black;
    border:0;
    border-radius:5px;
    padding:2rem;
    color:white;
}

.error-page button:hover{
    transform:scale(1.1);
    background:grey;
    color:white;
    border:0;
    background:#97e61b;
}

@keyframes logo-animation {
    0%{
        transform:translateY(10px) rotate(5deg);
    }
    25%{
        transform:translateY(-10px) rotate(0deg);
    }
    50%{
        transform:translateY(10px) rotate(-5deg);
    }
    75%{
        transform:translateY(-10px) rotate(0deg);
    }
    100%{
        transform:translateY(10px) rotate(5deg);
    }
}